<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/ede0f8a666.js" crossorigin="anonymous"></script>
    <title>Login</title>

</head>
    <body>

        <main>
        <div class="modal-container" id="modal-container">
            
            <div class="modal">

            <section class="izquierda">
                <h1>Solicitar ayuda</h1>
            <section class="form">
                <p></p>
                <input type="text" class="campo_usuario" placeholder="Usuario o e-mail"><br>
                <p></p>
                <input type="text" class="campo_tema" placeholder="Tema de consulta">
                <p></p>
                <input type="text" class="texto_del_usuario">
                <input type="submit" class="Enviar" value="Enviar">

            </section>
            
            <section class="derecha_arriba">
                <div class="cruz">
                <a href="/"><i class="far fa-times-circle"></i></a>
                </div>
            </section>

            <section class="derecho_abajo">
                <img src="/images/fotoejemplo.png" alt="foto" class="imagen">
            </section>
        </div>
        </main>
    </body>

</html>