<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weglamp</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ede0f8a666.js" crossorigin="anonymous"></script>
</head>

<body>

<header class="main-header">
    <div class="main-header-top-bar">
    <img src="/design/weglamp.jpg" width="300">
    <h2 class="log-in">
        <a href="/login">Iniciar Sesion</a> </h2>
    <h2 class="ayuda">
        <a href="/register">Ayuda</a></h2>
    </div>
    <nav class="main-header-bottom-bar" class="logo"> 
        <h3>
            <a href="#">alojamientos </a></h3>
          
        <h3>
            <a href="#">vuelos </a></h3>
           
        <h3>
             <a href="#">paquetes </a></h3>
            
        <h3>
            <a href="#">seguros </a></h3>
          

    </nav>
    <section class="beneficio">
        <article class="beneficioUno"> 
            <a href="#">beneficio 1 </a>
        </article>
        <article class="beneficioDos"> 
            <a href="#">beneficio 2 </a>
        </article>
        <article class="beneficioTres"> 
            <a href="#">beneficio 3 </a>
        </article>
    </section>

</header>

<main>
    <nav class="main-nav-bar"> 
        <h3>Busca tu paquete</h3>
        <nav class="barradebusqueda">
            <P>origen</P>
            <P>destino</P>
            <p>check-in</p>
            <p>check out</p>
            <p>adultos</p>
            <P>menores</P>
        </nav>
       
        <nav class="sindecidir">
            <i class="fas fa-search"></i>
            <div class="switch_container">
                <input type="check-box" id="switch">
                <label for="switch" class="lbl"></label><p>No he decidido las fechas</p>
            </div>
            <i class="far fa-calendar-check"></i>
        </nav>

    </nav> 
    <section class="destinos">
    <nav class="destino1">destino 1
        <ul>
            <li>vuelo flexible</li>
            <li>seguro covid-19</li>
            <li>incluye equipaje</li>
            <li>$     </li>
            <li>descripcion de oferta</li>
            <li>fechas</li>
        </ul>
    </nav>
    <nav class="destino2">destino 2
        <ul>
            <li>vuelo flexible</li>
            <li>seguro covid-19</li>
            <li>incluye equipaje</li>
            <li>$     </li>
            <li>descripcion de oferta</li>
            <li>fechas</li>
        </ul>
    </nav>
    <nav class="destino3">destino 3
        <ul>
            <li>vuelo flexible</li>
            <li>seguro covid-19</li>
            <li>incluye equipaje</li>
            <li>$     </li>
            <li>descripcion de oferta</li>
            <li>fechas</li>
        </ul>
    </nav>
    <nav class="destino4">destino 4
        <ul>
            <li>vuelo flexible</li>
            <li>seguro covid-19</li>
            <li>incluye equipaje</li>
            <li>$     </li>
            <li>descripcion de oferta</li>
            <li>fechas</li>
        </ul>
    </nav>
</section>
    <div class="main-nav-bottom">
    <!-- imágen -->
    <h2>encontrá ofertas para tu próximo destino</h2>
    <h4>suscribite a nuestro newsletter</h4>
    <nav class="barraEmail">e mail</nav>
    </div>
</main>
<footer>
    <div class="left-footer"><img src="/design/weglamp.jpg" width="250">
        <p>texto</p>
        <section class="redes">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-whatsapp"></i>
    </section>
    </div>
    <section class="right-footer">
        <ul>
            <H4>Servicios</H4>
            <li><a href="#">Alojamientos</a></li>
            <li><a href="#">Paquetes</a></li>
            <li><a href="#">Aereos</a></li>
            <li><a href="#">Seguros</a></li>
           
            </ul>
    
            <ul>
                <H4>Empresa</H4>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">términos y condiciones</a></li>
                <li><a href="#">políticas de privacidad</a></li> 
                <li><a href="#">FAQ's</a></li>
                </ul>
    </section>
    <section class="bottom-footer">
        <img src="/design/weglamp.jpg" width="100">
        <p>copyright</p>
        <p><a href="#">políticas de privacidad</a>
        </p>
        <p><a href="#">>terminos y condiciones</a></p>

    </section>


</footer>

</body>


</html>