<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weglamp</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ede0f8a666.js" crossorigin="anonymous"></script>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"></head>
</head>

<body>


<header>
    <section class="top-header">
        <div>
             <img src="/design/weglamp.jpg" width="200">
         </div>

         <div class="main-header-top-bar">
                 <h2 class="log-in">
                       <a href="/login">Iniciar Sesion</a> </h2>
                 <h2 class="ayuda">
                         <a href="/register">Ayuda</a></h2>
        </div>
    </section>
    <div class="main-header-bottom-bar"> 

        <h3>
            <a href="#">Alojamientos </a></h3>
          
        <h3>
            <a href="#">Vuelos </a></h3>
           
        <h3>
             <a href="#">Paquetes </a></h3>
            
        <h3>
            <a href="#">Seguros </a></h3>
    </div>

    
    

</header>

<main>
    <nav class="main-nav-bar"> 
        <h3>Busca tu paquete</h3>
        <nav class="barradebusqueda">
            <P>Destino</P>
            <p>Check-in</p>
            <p>Check out</p>
            <p>Pasajeros</p>
            <i class="fas fa-search"><button type="submit"> BUSCAR</button></i> 
        </nav>
       
        <nav class="sindecidir">
           
            <p>todavía no he decidido la fecha</p>
            <div class="switch_container">
                <input type="check-box" id="switch">
                <label for="switch" class="lbl"></label><p>No he decidido las fechas</p>
                </div>

            <i class="far fa-calendar-check"></i>
        </nav>

    </nav> 
    <section class="beneficio">
        <article class="beneficioUno"> 
            <a href="#">beneficio 1 </a>
        </article>
        <article class="beneficioDos"> 
            <a href="#">beneficio 2 </a>
        </article>
        <article class="beneficioTres"> 
            <a href="#">beneficio 3 </a>
        </article>
    </section>
    <h2 class="recomendados">Recomendados del Mes</h2>
    <section class="destinos">
    <article>
        <h3 class="destino1">Destino</h3>
        <ul type="none" class="destino1">
            <li class="listadodestino">vuelo flexible</li>
            <li class="listadodestino">seguro covid-19</li>
            <li class="listadodestino">incluye equipaje</li>
            <li class="precio-destino">$.-    </li>
            <li class="precioDestino">descripcion de oferta y fechas</li>
            <button type="submit" class="verOferta">Ver oferta</button>
        </ul>
    </article>
    <article>
        <h3 class="destino2">Destino</h3>    
        <ul type="none" class="destino2">
            <li class="listadodestino">vuelo flexible</li>
            <li class="listadodestino">seguro covid-19</li>
            <li class="listadodestino">incluye equipaje</li>
            <li class="precio-destino">$.-    </li>
            <li class="precioDestino">descripcion de oferta y fechas</li>
            <button type="submit" class="verOferta">Ver oferta</button>
        </ul>
    </article>
    <article>
        <h3 class="destino3">Destino</h3>
        <ul type="none" class="destino3">
            <li class="listadodestino">vuelo flexible</li>
            <li class="listadodestino">seguro covid-19</li>
            <li class="listadodestino">incluye equipaje</li>
            <li class="precio-destino">$.-   </li>
            <li class="precioDestino">descripcion de oferta y fechas</li>
            <button type="submit" class="verOferta">Ver oferta</button>
            
        </ul>
    </article>
    <article>

    <h3 class="destino4">Destino</h3>
        <ul type="none" class="destino4">
            <li class="listadodestino">vuelo flexible</li>
            <li class="listadodestino">seguro covid-19</li>
            <li class="listadodestino">incluye equipaje</li>
            <li class="precio-destino">$.-    </li>
            <li class="precioDestino">descripcion de oferta y fechas</li>
            <button type="submit" class="verOferta">Ver oferta</button>
        </ul>
    </article>
</section>
<section class="main-nav-bottom">
    
        <img src="https://www.arquitecturaydiseno.es/medio/2019/05/16/[08]terlingua_c4505cae_1500x1000.jpg"  width="700" alt="">
        <div class="main-bottom">
             <h2> <strong>Encontrá ofertas para tu próximo destino</strong> </h2>
             <h4>suscribite a nuestro newsletter</h4>
             <input type="text" class="form-control">
    </div>
</section>
</main>
<footer>
<div class="container">
    <div class="left-footer"><img src="/design/weglamp.jpg" width="300">
        <p>Breve texto explicativo acerca de nuestra marca</p>
            <section class="redes">
                 <i class="fab fa-facebook-f"></i>
                 <i class="fab fa-twitter"></i>
                 <i class="fab fa-instagram"></i>
                 <i class="fab fa-youtube"></i>
                 <i class="fab fa-whatsapp"></i>
             </section>
    </div>
            <section class="right-footer">
               <ul type="none">
                  <H4>Servicios</H4>
                       <li><a href="#">Alojamientos</a></li>
                      <li><a href="#">Paquetes</a></li>
                      <li><a href="#">Aereos</a></li>
                      <li><a href="#">Seguros</a></li>
               </ul>
    
                <ul type="none">
                    <H4>Empresa</H4>
                    <li><a href="#">Quienes somos</a></li>
                    <li><a href="#">términos y condiciones</a></li>
                    <li><a href="#">políticas de privacidad</a></li> 
                    <li><a href="#">FAQ's</a></li>
                    </ul>
             </section>
 </div>
    <section class="bottom-footer">
        <p>Copyright</p>
        <p><a href="#">Políticas de privacidad</a>
        </p>
        <p><a href="#">Terminos y condiciones</a></p>

    </section>


</footer>

</body>


</html>