<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weglamp</title>
</head>

<body>

<header>

    <!-- logo -->   <!-- iniciar sesión, ayuda -->
    
    
    <!-- alojamiento, vuelos, paquetes, seguros -->

</header>

<main>
        
    <!-- buscá tu paquete -->
    <!-- origen, destino, fecha salida, fecha llegada, q adultos, q menores -->
    <!-- todavía no decidí la fecha -->
    
    <!-- beneficio 1, beneficio 2, beneficio 3 -->
    
    
    <!-- recomendados del mes -->
    <!-- destino 1, destino 2, destino 3, destino 4 -->

    <!-- imágen, encontrá ofertas para tu próximo destino, newsletter -->


<footer>

    <!-- logo, texto, redes,  -->
    <!-- servicios, alojamientos, paquetes, aéreos, seguros -->
    <!-- empresa, quienes somos, términos y condiciones, políticas de privacidad, FAQ's -->

    <!-- copyright, políticas y terminos -->

</main>

</footer>

</body>


</html>