<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    <body>

        <main>

        <div class="modal-container" id="modal-container">
            <div class="modal">

                <i class="far fa-times-circle"></i>
                <h1>Ingresar a mi cuenta</h1>
                <h2>Usuario nuevo? <strong>Crear una cuenta</strong></h2>

                <input type="text" name="usuario" value="Usuario o e-mail"><br>
                <input type="text" name="clave" value="Clave">

                <label><input type="checkbox" id="mantenerme"> Mantenerme logueado</label>

                <input type="button" id="ingresar" value="Ingresar">
                
                <i class="far fa-horizontal-rule"> </i><h3>O ingresar con</h3> <i class="far fa-horizontal-rule"></i>
                <i class="fab fa-google"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter-square"></i>


            </div>

        </div>

        </main>

    </body>

</html>