<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weglamp</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ede0f8a666.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="main-header-top-bar">
            <img src="/design/weglamp.jpg" width="300">
            <h2 class="log-in">
                <a href="/views/login.html">Iniciar Sesion</a> </h2>
            <h2 class="ayuda">
                <a href="/view/register.html">Ayuda</a></h2>
            </div>
            <nav class="main-header-bottom-bar" class="logo"> 
                <h3>
                    <a href="#">alojamientos </a></h3>
                  
                <h3>
                    <a href="#">vuelos </a></h3>
                   
                <h3>
                     <a href="#">paquetes </a></h3>
                    
                <h3>
                    <a href="#">seguros </a></h3>
                  
        
            </nav>
    </header>
    <main>
        <nav class="main-nav-bar"> 
            <h3>Busca tu paquete</h3>
            <nav class="barradebusqueda">
                <P>origen</P>
                <P>destino</P>
                <p>check-in</p>
                <p>check out</p>
                <p>adultos</p>
                <P>menores</P>
            </nav>
            <section class="destinos">
                <article class="destino electo">destino 
                    <ul>
                        <li>vuelo flexible</li>
                        <li>seguro covid-19</li>
                        <li>incluye equipaje</li>
                        <li>$     </li>
                        <li>descripcion de oferta</li>
                        <li>fechas</li>
                    </ul>
                </article>

                <article class="pago">
                     <p>domo para x pax standart</p>
                     <p>usd x por noche</p>
                    <p>domo para x pax superior</p>
                    <p>usd x por noche</p>
                </article>

                <article><a href="#">reservar</a>
                </article>
               
                </section> 
                <section class="textodescriptivo">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, ut sit! Ullam quos culpa vitae. Possimus rem minima quod in quia error, atque tempora incidunt maiores facere debitis non nisi.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iure doloremque velit laudantium eligendi. Numquam fuga dolorem voluptas, doloribus perferendis, aliquam laboriosam magnam recusandae, vitae consequatur impedit quo doloremque ipsa.</p>
                <p>servicios de alojamientos</p>
                <p>ubicacion</p>
                <p>normas del alojamiento</p>

            </section>
    </main>
    <footer>
    
        <div class="left-footer"><img src="/design/weglamp.jpg" width="250">
            <p>texto</p>
            <section class="redes">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-whatsapp"></i>
        </section>
        </div>
        <section class="right-footer">
            <ul>
                <H4>Servicios</H4>
                <li><a href="#">Alojamientos</a></li>
                <li><a href="#">Paquetes</a></li>
                <li><a href="#">Aereos</a></li>
                <li><a href="#">Seguros</a></li>
               
                </ul>
        
                <ul>
                    <H4>Empresa</H4>
                    <li><a href="#">Quienes somos</a></li>
                    <li><a href="#">términos y condiciones</a></li>
                    <li><a href="#">políticas de privacidad</a></li> 
                    <li><a href="#">FAQ's</a></li>
                    </ul>
        </section>
        <section class="bottom-footer">
            <img src="/design/weglamp.jpg" width="100">
            <p>copyright</p>
            <p><a href="#">políticas de privacidad</a>
            </p>
            <p><a href="#">>terminos y condiciones</a></p>
    
        </section>
    
    
    </footer>
</body>
</html>